{% load velcro_tags %}

{% if has_related_content %}
  {% if related_content_label %}
    <{{ related_content_label_tag }} class="related-content-label">
      {{ related_content_label }}
    </{{ related_content_label_tag }}>
  {% endif %}
  <ul>
    {% for related_type, related_objects in related_content.items %}
      {% if related_objects %}
        <li class="related-type">
          {{ related_type | velcro_plural }}
          <ul>
            {% for related_object in related_objects %}
              <li class="related-object">
                <a href="{% velcro_url %}">{{ related_object }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
